
@model ContosoUniversity.Models.OrderViewModels.OrdersViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>Topics</h1>

<p>
    <a asp-action="CreateOrder">Create New</a>
    <br />
    <a asp-action="CreateOrderAndCargo">Create Order And Cargo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Orders.FirstOrDefault().OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders.FirstOrDefault().PickUpAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders.FirstOrDefault().DropOffAddress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Orders)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PickUpAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DropOffAddress)
                </td>
            </tr>
            <tr>

                <th>
                    <font color="#FF0000">
                        @Html.DisplayNameFor(model => model.Orders.FirstOrDefault().Cargos.FirstOrDefault().OrderId)
                    </font>
                </th>
                <th>
                    <font color="#FF0000">
                        @Html.DisplayNameFor(model => model.Orders.FirstOrDefault().Cargos.FirstOrDefault().Amount)
                    </font>
                </th>
                <th>
                    <font color="#FF0000">
                        @Html.DisplayNameFor(model => model.Orders.FirstOrDefault().Cargos.FirstOrDefault().CargoType)
                    </font>
                </th>
            </tr>
            foreach (var itemCargos in item.Cargos)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => itemCargos.OrderId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => itemCargos.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => itemCargos.CargoType)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

